
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Verification</title>
<style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
  * {
    font-family: poppins;
  }
      body {
        font-family: Poppins;
        margin: 0px;
        width: 100%;
        height: 100vh;
        background-color: purple;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  h1 {
    color: purple;
  }
      form {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 300px;
        background-color: white;
        padding: 40px;
        border-radius: 10px;
      }
      input {
        padding: 10px;
        outline: none;
        border: 3px solid purple;
      }
      button {
        background-color: purple;
        color: white;
        padding: 10px;
        border: none;
      }

      .card {
        background-color: white;
        padding: 20px 50px;
        border-radius: 10px;
      }
      .card.success {
        color: green;
      }
      #statusIcon {
        font-size: xx-large;
        text-align: center;
      }
      #statusMessage {
        text-align: center;
      }
      a {
        text-decoration: none;
        text-align: center;
        display: block;
        background-color: green;
        color: white;
        text-transform: uppercase;
        padding: 10px;
        border-radius: 5px;
        margin: 20px 0px;
      }
 </style>
  </head>
  <body>
    <div id="root"></div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module">
      const root = document.getElementById("root");

      const urlParams = new URLSearchParams(window.location.search);
      const type = urlParams.get("type");
      const id = urlParams.get("id");
      const message = urlParams.get("message");
      const status = urlParams.get("status");

      if (type == "reset") {
        root.innerHTML = `<form id="submitId">
          <h1>Reset Password</h1>
          <input type="password" name="password" id="password" placeholder="New Password" />
          <input type="password" name="cpassword" id="cpassword"  placeholder="Confirm Password"/>
          <div class="error"></div>
          <button type="submit">Reset Password</button>
          <div class="success"></div>
        </form>`;
        const userId = urlParams.get("id");
        let pass1 = document.querySelector("#password");
        let pass2 = document.querySelector("#cpassword");
        let errorBox = document.querySelector(".error");

        pass2.addEventListener("input", () => {
          if (pass2.value === pass1.value) {
            errorBox.innerHTML = "Password Match";
          } else {
            errorBox.innerHTML = "";
          }
        });

        let form = document.querySelector("#submitId");
        form.addEventListener("submit", (e) => {
          e.preventDefault();
          if (pass1.value !== pass2.value) {
            return (errorBox.innerHTML = "Passwords don't match");
          }
 if (pass1.value) {
            return (errorBox.innerHTML = "Passwords don't match");
          }
          // Use axios.post with async/await
          (async () => {
            try {
             
              const response = await axios.post("http://localhost:8800/users/password-reset", { userId: id, password: pass1.value });
              console.log(response.data); // Handle success response
              window.location.href = 'http://localhost:5173/login';
            } catch (error) {
              console.error(error.message); // Handle error
            }
          })();
        });
      } else if (status == "error") {
        root.innerHTML = `<div class="card">
          <div>
            <div class="icon">
              <div id="statusIcon">❌❌❌</div>
            </div>
            <div id="statusMessage">${message}</div>
          </div>
        </div>`;
      }
    </script>
  </body>
</html>
