@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* In your styles.css (or any other styles file) */

@layer utilities {
  .word-wrap-break {
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
}

.topbar {
  position: sticky;
  top: 0px;
  z-index: 49;
  color: rgb(57, 28, 204);
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(128, 0, 128, 0.281) #ffffff00;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar:hover {
  width: 20px;
}
*::-webkit-scrollbar-track {
  background-color: #e3e3e3;
}

*::-webkit-scrollbar-track:hover {
  background-color: #e3e3e3;
}

*::-webkit-scrollbar-track:active {
  background-color: #e3e3e3;
}

*::-webkit-scrollbar-thumb {
  background-color: #a3a3a38c;
  border-top: 6px solid #e3e3e3;
  border-bottom: 6px solid #e3e3e3;
  border-left: 3px solid #e3e3e3;
  border-right: 3px solid #e3e3e3;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #a3a3a3;
  border-top: 6px solid #e3e3e3;
  border-bottom: 6px solid #e3e3e3;
  border-left: 2px solid #e3e3e3;
  border-right: 2px solid #e3e3e3;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #878787;
}

/* @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
} */
@layer base {
  :root {
    --font: `poppins-bold`;
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  [data-theme="dark"] {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@font-face {
  font-family: "Gordita";
  src: local("Gordita"),
    url("../src/Font/Gordita-Font/Gordita-Medium.otf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Gordita-Bold";
  src: local("Gordita"),
    url("../src/Font/Gordita-Font/Gordita-Semibold.otf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "poppins";
  src: local("Poppins"),
    url("../src/Font/Poppins/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "poppins";
  src: local("Poppins"),
    url("../src/Font/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: bold;
}

:root,
* {
  font-family: "Poppins", "Gordita";
}
